{% extends "base.html.twig" %}
{% block container %}
<div class="row">
    <h1>Welcome to my music</h1>
    <div class="col s12 center-align">
        <img src="{{ asset('assets/img/player.svg') }}" class="responsive-img center-align">
    </div>
</div>
{% endblock %}